<h1>Random Password Generator</h1>

<div>

  <label>Enter lenght of Password you want to generate</label>
  <input (input)="handleChangeText($event)"  type="text">

</div>
<div>

  <label>contains letter</label>
  <input (change)="handleLetter()" type="checkbox">

</div>
<div>

  <label>contains number</label>
  <input (change)="handleDigit()"  type="checkbox">

</div>
<div>

  <label>contains symbol</label>
  <input (change)="this.handleSymbol()"  type="checkbox">

</div>
<button [disabled]="!(length&&(letters||digit||symbol))" (click)="handleSubmit()">Generate !!!</button>


<div *ngIf="password">
<h3>Your password generated</h3>
<input [value]="password"  type="text" />
</div>